@import "defs.less";

button.clear::after { content: "Reset"; }
button.confirm::after { content: "Save"; }

input.MuiButton-root {
  transition: none;
}

.mapfile-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1em;
}

.mapfile-list-icon-button {
  flex-shrink: 0;
}

.mapfile-info-tip {
  .mapfile-info-datetime {
    font-style: italic;
  }
}
