@import "defs.less";

.stats-table {
  resize: vertical;
  overflow: hidden;
  height: 300px;

  .zero span { opacity: 0.30; }

  .na { background-color: #171520; }
  .na::after {
    content: "—";
    //color: #aa0;
    opacity: 0.30;
  }

  tr:nth-child(even) .frozen-col {
    background-color: #221f31;
  }

  tr.frozen-header,
  tr.frozen-header .frozen-col,
  tr:nth-child(odd) .frozen-col {
    background-color: #282639;
  }

  tr:nth-child(even) {
    background-color: #221f31a0;
  }

  tr:nth-child(odd) {
    background-color: #282639a0;
  }

  tr:first-child { text-align: center; }
  tr:not(:first-child) > :first-child { text-align: left; }
  tr:not(:first-child) td:not(:first-child) {
    font-family: @monospace;
    text-align: right;
  }
}

// resizable box
.layer-viewer-scripts {
  width: 100%;
  resize: none;
  height: auto;
  overflow-x: hidden;

  &.overflow {
    overflow-y: scroll;
    // height: 400px;  // initial height set by JS instead
    resize: vertical;
  }
  border-radius: 7px;
  background-color: #221f31a0;
  padding: 7px;
}
