@import "defs.less";

.stats-table {
  resize: vertical;
  overflow: hidden;
  height: 300px;

  .zero span { opacity: 0.30; }

  .na { background-color: #171520; }
  .na::after {
    content: "—";
    //color: #aa0;
    opacity: 0.30;
  }

  tr:nth-child(even) .frozen-col {
    background-color: #221f31;
  }

  tr.frozen-header,
  tr.frozen-header .frozen-col,
  tr:nth-child(odd) .frozen-col {
    background-color: #282639;
  }

  tr:nth-child(even) {
    background-color: #221f31a0;
  }

  tr:nth-child(odd) {
    background-color: #282639a0;
  }

  tr:first-child { text-align: center; }
  tr:not(:first-child) > :first-child { text-align: left; }
  tr:not(:first-child) td:not(:first-child) {
    font-family: @monospace;
    text-align: right;
  }
}

#layer-viewer-status {
  &.working {
    animation: working-pulse 2s infinite;
  }

  .filenames-text {
    font-weight: normal;
    font-size: 1rem;
  }
}

.layer-viewer-scripts {
  width: 100%;
  resize: vertical;
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;

  .grid-item {
    background-color: #33ffff08;
    border: solid 2px #11eeee40;

    &:hover {
      transform: scale(1.1, 1.1);
      border: solid 2px #11eeee70;
    }

    &.warn-multiple-layer {
      border-color: #db833b40;
      background-color: #ff333308;
    }
  }

  .grid-item.imageless {
    display: grid;
    grid-template-rows: 35px 13px 13px;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 5px 0px;
    width: 80px;
    height: 80px;
    font-family: @monospace;
    .buffer-type { font-size: 35px; }
    .sprite-size { font-size: 12px; }
    .anm-name { font-size: 13px; }
  }

  border-radius: 10px;
  background-color: #221f31a0;
  padding: 10px;
}

@keyframes working-pulse {
  0% { opacity: 0.6; }
  50% { opacity: 0.3; }
  100% { opacity: 0.6; }
}
