@import "defs.less";

.struct-view {
    display: grid;
    font-family: @monospace;

    &:extend(.noselect);
    .keyword {
        color: rgb(237, 223, 179);
        font-weight: normal;
    }

    .col-offset {
        padding-right: 1em;
    }

    .col-text.indent {
        margin-left: 2ch;
    }
    .col-offset,
    .col-text {
        align-self: start;
        display: table-cell;
    }

    .col-offset { justify-self: end; }

    // hanging indent
    .col-text {
        text-indent: -4ch;
        padding-left: 4ch;
        padding-right: 1ch;
        & > * { text-indent: 0; }
    }

    // get diff regions to highlight to end
    .col-text { justify-self: stretch; }

    .struct-name,
    .field-type { color: rgb(237, 189, 129); }
    .field-name { color: rgb(170, 214, 221); }
    .field-gap { color: #6e6e6e; }
    .field-offset-text {
        color: rgb(98, 202, 123);
        background-color: rgba(5, 70, 48, 0);
        padding: 2px;
        border-radius: 5px;
        &:hover {
            background-color: rgba(25, 199, 141, 0.1);
        }
    }

    [data-side='left'].diff-oneside,
    [data-side='left'] .diff-oneside { background-color: rgba(255, 0, 0, 0.20); }
    [data-side='right'].diff-oneside,
    [data-side='right'] .diff-oneside { background-color: rgba(0, 255, 0, 0.175); }
    .diff-changed { background-color: rgba(255, 255, 0, 0.125); }

    span.diff-oneside,
    span.diff-changed {
        display: inline-block; // fill whole line-height
    }
}



.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
