
@link-color: #ffcc00;
@link-color-hover: #ffeb9b;
// @text-color: #f0e7d5;
@text-color: #f0f0f0;
@h-color: #e8e8e8;
@h3-color: #b6b6b6;
@code-color: #efefef;
@bg-color: #252525;
@nav-bg-color: #080808;
@nav-alpha: 85%;
@tip-bg-color: #000000;

// blog original colors:
//    code block outline: #121212
//    code block bg: #191919
//    inline code bg: #101020
//
// why did inline code and code blocks have different bgs?
// I assume I did it for a reason...

@code-block-bg: #02020240;
@code-inline-bg: #10102080;
@monospace: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
@sans-serif: OpenSansRegular, Helvetica Neue, Helvetica, Arial, sans-serif;

body {
  /* padding:0px 0 20px 0px;
  margin: 0px; */
  // font:14px/1.5 @sans-serif;
  font-family: @sans-serif;
  color: @text-color;
  font-weight: normal;
  background: #252525;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'><g fill='%23111' fill-opacity='0.45'><path fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/></g></svg>");
  background-attachment: fixed;
  margin: 0;
  line-height: 135%;
}

a {
  color: lightblue;
}

code, instr {
  background: @code-block-bg;
  font-family: @monospace;
  border-radius: 5px;
  display: inline;

  color: @code-color;
  padding: 4px 6px;
}

li {
  margin-bottom: 9px;
  margin-top: 9px;
}

blockquote {
  border: 1px dashed rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background: rgba(90, 155, 90, 0.2);
  padding: 5px;
}

.border-l {
  width: 10%;
  position: fixed;
  height: 150%;
  left: 0px;
  top: 0px;
  z-index: -1;
  max-width: 120px;
}
.border-r {
  width: 10%;
  position: fixed;
  height: 150%;
  right: 0px;
  top: 0px;
  z-index: -1;
  max-width: 120px;
}

.header-wrapper {
  width: 80%;
  margin: 0;
  margin-left: 10%;
  background: fade(@nav-bg-color, @nav-alpha);
  top: 0px;
  z-index: 10;
}
.header-text {
  line-height: 60px;
  font-size: 30px;
  font-family: @sans-serif;
  margin-left: 30px;
  font-weight: bold;
}

.header-navigation {
  width: 80%;
  margin: 0;
  margin-left: 10%;
  background: fade(@nav-bg-color, @nav-alpha);
  /*height: 100px;*/
  /*border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;*/

  position: sticky;
  top: 0;
  /*border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;*/
  border-collapse: collapse;

}
.header-navigation a {
  color: inherit;
  text-decoration: inherit;
}
.navigation-entry {
  font-family: @sans-serif;
  display: inline-table;
  width: 100px;
  height: 40px;
}
.navigation-entry.active {
  border-bottom: 2px fade(@link-color, @nav-alpha) solid;
}
.navigation-entry:hover {
  background: #222222a0;
}
.navigation-entry:hover .navigation-entry-list {
  display: block;
}
.navigation-entry-name {
  padding: 10px;
  cursor: pointer;
}
.navigation-entry-list {
  position: absolute;
  display: none;
  width: 150px;
  background: #080808d0;
  margin-left: -1px;
}
.navigation-entry-list-item.active {
  background: fade(mix(@link-color, @nav-bg-color, 20%), @nav-alpha);
}
.navigation-entry-list-item:hover {
  background: #363636;
}
.navigation-entry-list-item {
  cursor: pointer;
  padding: 8px;
}

.navigation-entry-list-item.subgroup-parent > div {
  display: none;
  position: absolute;
  background: #222222;
  left: 100%;
  margin-top: -8px;
  width: 150px;
}
.navigation-entry-list-item.subgroup-parent:hover > div {
  display: block;
}

.content-wrapper {
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.content-wrapper .content {
  background: #ffffff14;
  margin-top: 20px;
  border-radius: 25px;
  padding: 20px;
  transition: opacity .2s ease;
  overflow-x: auto;
}

/* some jank to make youtube videos resize */
.fit-wrapper {
  width: 100%;
  max-width: 660px;
  position: relative;
}
.fit-wrapper2 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 100%;
}
.fit-wrapper2.yt {
  padding-top: 56.25%;
}
.fit-wrapper2.yt > iframe {
  border: none;
}
.fit-wrapper2 > * {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

hljs {
  font-family: @monospace;
  border: 2px solid #12121280;
  display: inline-block;
  padding: 5px;
  background: @code-block-bg;
  white-space: pre-wrap;
  margin: 10px;
}

hljs .copy-btt {
  opacity: 0.1;
  background: white;
  color: black;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid gray;
  float: right;
  transition: opacity .15s ease;
  cursor: pointer;
}

hljs:hover .copy-btt {
  opacity: 0.6;
}

hljs .copy-btt:hover {
  opacity: 0.85;
}

.clipboard-jank {
  opacity: 0;
  position: absolute;
  left: -999px;
  top: -999px;
}

table, th, td, tr {
  border: 1px solid #ffcc0060;
  border-collapse: collapse;
  padding: 5px;
}

#tip {
  position: absolute;
  display: none;
  padding-left: 7px;
  padding-right: 7px;
  border: 1px gray solid;
  border-radius: 9px;
  background: @tip-bg-color;
  max-width: 320px;
  z-index: 100;
  font-size: 14px;

  // Put a hard limit on tip height even if we forget to curate a tip's content
  .contents {
    max-height: 10em;
    overflow-y: hidden;
    overflow-x: hidden; // otherwise overflow-y: hidden makes a horizontal scrollbar. Yes.
  }

  .heading {
    font-size: 1.1em;
    margin-top: 0.8em;
    margin-bottom: 0em;
  }

  .omitted-info {
    &::after {
      content: "See the table entry for more info.";
    }
    opacity: 75%;
    font-size: 0.8em;
    font-style: italic;
    float: right;
    clear: right;
  }
}

.headless-table > table > thead {
  display: none;
}

.ins-navigation-entry {
  cursor: pointer;
  text-decoration: underline;
  color: @link-color;

  &:hover {
    color: @link-color-hover;
  }
}

.ins-table {
  display: table;
  width: 100%;

  // disable borders on THIS table only
  //
  // FIXME: this seems awfully delicate, maybe ins-table should be using divs with
  //        display: table etc. instead of an actual table
  &,
  >tbody >tr,
  >tbody >tr >td {
    border: none;
  }

  // (note: present on priw's site, uncertain of purpose...)
  * { box-sizing: border-box; }

  .col-id { width: 3em; }
  .col-name { width: 20%; min-width: 10em; }
  .col-desc { width: 85%; }

  .ins-table-header { display: table-row; }
  .ins-table-entry { display: table-row; }

  .col-name .anm-ins-siggy-wrapper .punct { color: #ffffff30; }

  td { vertical-align: text-top; }
}

.anm-ins-siggy-wrapper {
  font-family: @monospace;

  // (couldn't figure out how to get a hanging indent in the cell
  //  without adding this div around the cell's contents...)
  text-indent: -2em;
  margin-left: 2em;

  .ins-name {
    &[data-wip="0"] { color: @text-color; }
    font-weight: bold;
    font-size: 1.1em;
  }

  .ins-params {
    font-size: 0.91em;
    // .type.mut { font-weight: bold; } // eh.
    .type.float { color: #32e875; }
    .type.int { color: #53ceff; }
  }
}

.video-load {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(40, 40, 40, 0.55);
  cursor: pointer;
  padding: 20px;
  box-sizing: border-box;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

[data-wip="1"] {
  color: rgb(250, 150, 74);
}
[data-wip="2"] {
  color: rgba(255, 255, 255, 0.4);
  &:hover { color: rgba(255, 255, 255, 0.5); }
}
