[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true  # even in markdown, just use <br>...
charset = utf-8

[*.{css,js}]
indent_size = 2
indent_style = spaces

[Makefile]
indent_style = tab
